.root{
    -fx-background-color: #FFCA28; //Amber400
    -fx-font-family: "Distant Galaxy";
    -fx-text-fill: "Black";
    //-fx-background-image:url('../Images/pizza logo 3.png');
    //-fx-background-size:cover;
}
Button{
    -fx-base: #66BB6A; //green 400
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}
#tax{
    -fx-font-size: 15;
}
ListView {
    -fx-background-radius: 20;
    -fx-background-color: #66BB6A;
}


